<% if @messages.size > 0 then %>
  <% for @message in @messages do %>
    <div class="event">
      <div class="content">
        <div class="summary">
          <em><%= @message.user.username %></em>: <%= @message.body %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  
<% end %>
