<div class="ui text container">
	<div class="ui large form">
		<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="KCaxrOknwAa0GuDmPEgoA3x7wX5+afHN3JAPm1EYJqxq727MSzokoeGMp5S/eRR46kp7M90WiVQLWGE29t6Qrg==">
			<div class="field">
				<label for="user_username">Username</label>
				<input placeholder="Enter username" autofocus="autofocus" type="text" name="user[username]" id="user_username">
			</div>
			<div class="field">
				<label for="user_password">Password</label>
				<input class="form-control" placeholder="Enter password" type="password" name="user[password]" id="user_password">
			</div>
			<button name="button" type="submit" class="ui green submit button large">Sign Up</button>
</form>		<div class="row">
			<a href="/">[ Cancel Request ]</a>
		</div>
	</div>
</div>