<h2 class="ui center aligned icon header">
  <i class="circular orange comment alternate icon"></i>
  How can we help you today? 
</h2>
<%-# favicon and message which is right above the chat  -%>


<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
      <div class="ui feed">
          <div class="event">
            <div class="content">
              <div class="summary">
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Enter a message...">
              <i class="bordered inverted orange edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<%-# Shows the chat messages  -%>

<div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



<%-# Shows who you are chatting with -%>