@import "semantic-ui";  //this lets us use styles from semantic ui 

.chatbox{
  height: 450px;
} //sets the height for the chatbox and the box that tells you who you are chatting with 

#messages {
  height: 15em;
  overflow: auto;
} //scroll bar for chatbox


.input{
  button{
    display:none;
  }
}//hides the button to send a chat since we don't need it 